<%- include('partials/header') %>

<div class="main-page">

    <div class="logout">
        <a href="/logout" role="button"><i class="fa-solid fa-right-from-bracket"></i></a>
    </div>

    <div class="todos">
        <div class="todos-img">
            <img src="/images/todo.png" alt="todo logo">
        </div>
        <div class="box">
               <% todoList.forEach(function(item) { %>
                    <form action="/delete" method="POST">
                        <div class="list">
                            <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                            <p> <%= item.content %> </p>
                        </div>
                    </form>
                <% }); %>
            

            <form class="add" action="/main" method="POST">
                <input class="newtodo" type="text" name="newTodo" placeholder="add your todo here">
                <button class="btn btn-dark" type="submit">+</button>
            </form>
        </div>
    </div>

    <p class="notes-flash"> <%= message %> </p>
    <div class="notes">
        <div class="notes-img">
            <img src="/images/notes.png" alt="notes logo">
        </div>
        <a class="btn btn-dark" href="/create" role="button">+</a>

        <% noteList.forEach(function(item) { %>
            <div class="notes-list">
                <a class="title" href="/notes/<%= item.title %>">
                    <%= item.title.substring(0, 30)%>
                </a>
                <p>
                    <%= item.content.substring(0, 80) + " ..." %>
                    <a class="content" href="/notes/<%= item.title %>">Read More</a>
                </p>
            </div>
        <%}); %>
        
    </div>


    <div class="quotes">
        <h4> <%= quotes %> </h4>
        <h6> - <%= author %> </h6>
    </div>

    <div class="calendar">

    </div>

</div>

<%- include('partials/footer') %>